[submodule "lisp/glsl-mode"]
	path = lisp/glsl-mode
	url = https://github.com/jimhourihan/glsl-mode
[submodule "lisp/cuda-mode"]
	path = lisp/cuda-mode
	url = https://github.com/flipflapflop/cuda-mode.git
