[submodule "lisp/glsl-mode"]
	path = lisp/glsl-mode
	url = https://github.com/jimhourihan/glsl-mode
[submodule "lisp/ESS"]
	path = lisp/ESS
	url = https://github.com/emacs-ess/ESS.git
[submodule "lisp/cuda-mode"]
	path = lisp/cuda-mode
	url = https://github.com/flipflapflop/cuda-mode.git
